/* import google-font Inter Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inter:opsz,wght@14..32,100..900&family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inter:opsz,wght@14..32,100..900&family=Lusitana:wght@400;700&family=Noto+Sans+SC:wght@100..900&display=swap');
@import 'tailwindcss';
html,
body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none; /* 防止橡皮筋效果 */
	-webkit-overflow-scrolling: auto; /* 禁用iOS弹性滚动 */
	touch-action: manipulation; /* 只允许基本触摸操作 */
	user-select: none; /* 全局禁用文本选择 */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
